@media (min-width: 48em) {
  .sidebar {
    text-align: center;
  }
}

.sidebar-about h1 {
  font-size: 3rem;
}

.sidebar-about .lead {
  font-size: .8rem;
}

.sidebar-about .profile-picture {
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #5b8da2;
  max-width: 5rem;
}

.sidebar-nav-item {
  display: block;
  padding: .25rem 0.5rem;
  background: #7dafc4;
  margin: 0 .2rem;
  border-radius: .25rem;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  float: left;
  width: 17%;
}

a.sidebar-nav-item:focus {
  background: #6096ac;
  text-decoration: none;
}

.sidebar-nav-item.active {
  color: #6096ac;
  background: #fff;
}

a.sidebar-nav-item.active:hover,
a.sidebar-nav-item.active:focus {
  color: #fff;
}

.read-more {
  padding: .5rem .8rem;
  border: 1px solid #eee;
  font-size: .8rem;
  margin-top: 1rem;
  font-weight: bold;
}

.highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
